#home
  //
    h1 I want the best for people

    h1 I look at the world differently

    h1 I create solutions

    h1 I do my part by finding solutions to problems

    h1 Something could be easier

  h1.tagline
    | I work with#{" "}
    span people
    |,#{" "}
    span ideas
    |, and#{" "}
    span software
    |#{" "}
    | to build#{" "}
    span lasting
    |,#{" "}
    span usable#{" "}
    | solutions#{" "}

  .portrait.shadow-box
    img(src="img/portrait.jpg")

  .copy
    .shadow-box
      h2.
        Hi, I'm Patrick

      p.
        I'm a <span>full-stack developer</span> specializing in the <span>front end</span>.
        I'm enthusiastic about designing for the <span>user experience</span>
        through exploration, experimentation, and iteration. I believe in
        <span>using the tools you make</span>,
        automating tedious tasks, and
        <span>not leaving messes</span> for the next guy.

      p.
        When I'm not developing, you can find me
        <span>taking photos</span>,
        trying a <span>new recipe</span> (I make a mean banana bread),
        or wading through an extensive <span>Steam backlog</span>.
      //
        I am a polytechnic. People who dedicate themselves to a singular
        passion can create amazing things. I admire those people. My passions aren't
        content to settle in once place.

  .mobile-portrait
    .shadow-box
      img(src="img/portrait.jpg")

