mixin section(start, stop, title, name, url)
  section.resume-position.shadow-box
    header.position-header
      span.years #{start} - #{stop}:
      span.title #{` ${title} - `}
      span.company
        a(href="#{url}")= name

    block

mixin skills(...skills)
  .position-skills
    each skill, index in skills
      span.skill #{(skills.length - 1) == index ? skill : `${skill}, `}

#resume
  section.work-history
    h1 Experience

    +section('2016', 'Present', 'Full-Stack Developer', 'Charter Communications', 'http://www.charter.com/')
      +skills('python', 'flask', 'javascript', 'jquery', 'mongo', 'docker', 'jenkins', 'linux')
      ul
        li Extended a naive single-page application with view controllers, routing and a small alerts framework
        li Dockerized a primarily server based development environment consisting of four distinct micro-services.
        li Converted the frontend to use Promises end-to-end building a light controller system on top of it
        li Mentored two junior backend engineers to become more full-stack since 2017

    +section('2013', '2015', 'Full-Stack Developer', 'CouponFactory', 'http://www.couponfactory.com/')
      +skills('python', 'django', 'javascript', 'jquery', 'OSX')
      ul
        li Consolidated three client delivery tools into a single extensible tool reducing turn around by up-to 75%
        li Optimized deployment routines to reduce server deployment time by up-to 60%
        li Principal developer on a small business project focused on converting inbound calls into sales
        li Worked as part of a fully remote development team

    +section('2012', '2013', 'Tier II Technical Support', 'T-Mobile USA', 'http://www.tmobile.com/')
      +skills('microsoft office', 'javascript', 'google chrome extensions')
      ul
        li Quickly identified needs and root causes of technical problems based on customer descriptions
        li Tailored technical fixes and education solutions to best fit the customer's problem and personality
        li Developed a Chrome extension used by my team to enhance the troubleshooting workflow by adding an intelligent layer on top of existing resources

    +section('2012', '2012', 'Customer Care Supervisor', 'Verizon Wireless ', 'http://www.vzw.com/')
      +skills('microsoft office')
      ul
        li Managed a top performing team of 12 representatives, including coaching, designing incentives, and rapidly and accurately answering questions of reps on calls
        li Collaborated with other supervisors to design organization processes ensuring each supervisor had the opportunity to complete required tasks each day, even during periods of low staffing
        li Supported the site during its first 6 months and through the 2012 Waldo Canyon fire, including coordinating teams between local and Denver emergency pop-up sites

  section.education
    h1 Education
    .shadow-box
      ul
        li AS, Computer Science, Pikes Peak Community College
